* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body {
    height: 100vh;
    background-color: #D9D9D9;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 15px;
    background-color: #1D54CD;
    font-size: 32px;
    padding: 8px 16px 8px 16px;
    align-items: center;
}

#nome_pesquisado {
    background-color: #ffffff;
    margin-right: 45%;
    padding: 8px 20px 8px 20px;
}

#film_input {
    width: 600px;
    height: 30px;
}

#btn_pesquisar {
    width: 100px;
    height: 30px;
    background-color: #FF6565;
    border: solid black 1px;
}

.btn {
    display: flex;
    margin-right: 32px;
    margin-left: 32px;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #efeff8;
    align-items: center;
    border-radius: 8px;
    padding: 10px;
    gap: 16px
}

.img_container {
    width: 200px;
}

.img_container:hover {
    height: auto;
    border: black 1px solid;
    border-radius: 8px;
}

.subtible {
    display: none;
}

.img_container:hover .subtible {
    display: flex;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    flex-wrap: wrap;
}

.img_container img {
    border-radius: 10px;
    height: 300px;
    width: 200px;
}

.img_container h3 {
    font-size: 24px;

}

#anterior_button {
    height: 30px;
    width: 250px;
    background-color: #FF6565;
}

#proximo_button {
    height: 30px;
    width: 250px;
    background-color: #FF6565;
}

.container {
    display: flex;
    font-size: medium;
}

.container img {
    margin: 16px;
    border-radius: 8px;
}

.container_hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 18px;
    gap: 14px;
    background-color: #ffffff;
    border-radius: 16px;
}

.container_bonus {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.titulo {
    text-align: center;
    font-size: 3rem;
}

.sinopse {
    text-align: center;
    font-size: 2rem;
}

.informacao_bonus {
    font-size: 1.75rem;
}

.pesquisa_hero {
    display: flex;
    gap: 10px;
    margin: 5px 0px 5px 24px;
}

.pesquisa_hero img {
    width: auto;
    height: 282px;

    border: solid white 6px;
    border-radius: 16px;
}

.pesquisa_hero div {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 16px;
    padding: 32px 20px 32px 20px;
    background-color: white;

}

.pesquisa_hero div .titulo {
    text-align: center;
    font-size: 2.2rem;
}

.pesquisa_hero div .sinopse {
    text-align: center;
    font-size: 2rem;
}

footer {
    display: flex;
    height: 100px;
    font-size: 32px;
    justify-content: center;
    align-items: center;
    background-color: #1D54CD;
}